@using ProniaWebApp.Core.Entities
@model Slider

<div class="content-wrapper">
    <div class="container">

        <div class="row mb-4">
            <div class="col-md-6">
                <h4 class="mb-1">Slider Title: </h4>
                <h3>@Model.Title</h3>
            </div>
            <div class="col-md-6">
                <h4 class="mb-1">Slider Description: </h4>
                <h3>@Model.SubTitle</h3>
            </div>
            <div class="col-md-6">
                <h4 class="mb-1">Slider Description: </h4>
                <h3>@Model.Discount</h3>
            </div>
        </div>

        <h4 class="mb-1">Slider Image: </h4>
        <div style="width:200px">
            <img width="100%" src="~/Upload/SliderImages/@Model.ImgUrl">
        </div>

        <a asp-controller="Slider" asp-action="Table" class="btn btn-secondary mt-5">Go Back</a>

    </div>
</div>